*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./background.jpg");
    font-family: 'Permanent Marker', cursive;
}

.potatoDiv{
    border: 0.2em solid rgb(94, 60, 18);
    margin: 1em 0;
    width: 90vw;

    background-color: rgb(224, 198, 165);
}

.potatoDiv h2{
    padding: 0.5em 1em;
}

.potatoDiv p{
    padding: 0.2em 1em;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.potatoImage{
    width:100%;
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.potatoDivContent{
    padding: 1em;
}

.updatePotato{
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.updatePotato .potatoImage{
    position: relative;
    right: 1em;
    top: 1em;
}

.updatePotato input{
    margin: 0.5em 0;
    height: 1.5em;
}

.updatePotato button{
    margin: 0.5em 0;
}

.potatoDivContent button{
    height: 2em;
    width: 13em;
    font-family: 'Permanent Marker', cursive;

}

@media screen and (min-width: 37em){
    .potatoDiv{
        width: 34em;
    }

    .potatoImage{
        width:33.62em;
    }
}