*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./background.jpg");
    font-family: 'Permanent Marker', cursive;
}

.potatoDiv{
    border: 0.2em solid rgb(94, 60, 18);
    margin: 1em 0;
    width: 90vw;
    background-color: rgb(224, 198, 165);
}

.potatoDiv h2{
    padding: 0.5em 1em;
}

.potatoDiv p{
    padding: 0.2em 1em;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.potatoImage{
    width:100%;
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.potatoDivContent{
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.updatePotato{
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.updatePotato .potatoImage{
    position: relative;
    right: 1em;
    top: 1.4em;
}

.updatePotato input{
    margin: 0.5em 0;
    height: 1.5em;
}

input{
    font-family: 'Permanent Marker', cursive;
    padding: 1em;
    border: 0.2em solid rgb(94, 60, 18);
}

button{
    background-color: rgb(94, 60, 18);
    border: none;
    color: white;
    padding: 0.7em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7em;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;

}

@media screen and (min-width: 30em){
    .potatoDiv{
        width: 28em;
    }

    .potatoImage{
        width:27.62em;
    }
}